.un-logo {
  font-size: 18em;
  font-weight: 300;
  letter-spacing: -27px;
  fill: #fff;
  width: 45%;
  top: 11.7rem;
  position: absolute;
}
@media (max-width: 768px) and (orientation: portrait) {
  .un-logo {
    top: 10.5rem;
  }
}

@media (max-width: 425px) and (orientation: portrait) {
  .un-logo {
    width: 100%;
    top: 9.8rem;
  }
}
@media (max-width: 360px) and (orientation: portrait) {
  .un-logo {
    width: 100%;
    top: 8rem;
  }
}

.un-delete {
  fill: rgba(238, 110, 101,1);
  width: 38%;
}

.cover {
  transition: transform 0.5s ease-in-out;
}

.un-delete:hover > .cover{
    transform: translateY(-1rem);
}

.can {
  transition: transform 0.5s ease-in-out;
}

.un-delete:hover > .can {
  transform: translateY(1rem);
}

.indents, .handlebar {
  fill: white;
}
